root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,csx}]
# Code style
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_pattern_matching = true:suggestion
dotnet_naming_rule.camel_case.symbols = internal_fields
dotnet_naming_rule.camel_case.style = prefix_underscore

# Nullable reference checks
dotnet_diagnostic.CS8600.severity = warning
dotnet_diagnostic.CS8602.severity = warning